.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
font-family: 'Roboto', sans-serif;
background: #FFFFFF;
color: #212121;
}

:root {
--main-color: #212121;
--accent-color: #2196F3;
--blk-text-color: #000000;
--wht-text-color: #FFFFFF;
--grey-text-color: #757575;
--contacts-color: rgba(255, 255, 255, 0.6);
--secondary-bgd: #2F303A;
} 

/* Default */
ul {
  list-style: none;
}

/* Studio-page */
.logo-blk {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}
.logo-wht {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  text-decoration: none;
}

.logo-blk .logo-wht, .accent-color {
  color: var(--accent-color);
}
.nav-links {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-color);
}

.nav-links:hover,
.contact-link:hover {
color: var(--accent-color);
}
.nav-links:focus,
.contact-link:focus {
  color: var(--accent-color);
}
.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--grey-text-color);
}
.hero {
  background: var(--secondary-bgd);
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--wht-text-color);
}
.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--wht-text-color);
  background-color: var(--accent-color);
  cursor: pointer;  
}
.section-title {
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--main-color)
}
.feature-title {
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--main-color)
}
.feature-desc {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--grey-text-color)
}
.team-member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color:var(--main-color)
}
.position {
    font-size: 16px;
    line-height: 1.18;  
    letter-spacing: 0.03em;
    color: var(--grey-text-color)
}
.address-footer {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--wht-text-color);
  }
.contact-link-footer {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--contacts-color);
  text-decoration: none;
}

/* Portfolio-page */
.button-filtr {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62x;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
    background: #F5F4FA;
    border-radius: 4px;
}
.button-filtr:hover {
  color: var(--wht-text-color);
  background-color: var(--accent-color);
}
.button-filtr:focus {
  color: var(--wht-text-color);
  background-color: var(--accent-color);
}

    